﻿<div col-lg-12>
    <div class="col-lg-12">
        <h4>Add TODO:</h4>
        <form class="form-horizontal" ng-submit="toDoCtrl.AddToDo()">
            <div class="form-group">
                <label class="col-lg-2 control-label">Title:</label>
                <div class="col-lg-10">
                    <input required type="text" ng-model="toDoCtrl.toDo.title" class="form-control" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Summary:</label>
                <div class="col-lg-10">
                    <textarea ng-model="toDoCtrl.toDo.summary" class="form-control" placeholder="Summary"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Status:</label>
                <div class="col-lg-10">
                    <select required class="form-control select" ng-model="toDoCtrl.toDo.status">
                        <option value=""></option>
                        <option value="Upcoming">Up-Coming</option>
                        <option value="InProgress">In-progress</option>
                        <option value="Finished">Finshed</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Tag:</label>
                <div class="col-lg-10">
                    <ui-select multiple tagging tagging-label="" ng-model="toDoCtrl.toDo.tags" theme="select2" sortable="true" ng-disabled="disabled" style="width: 300px;" title="Choose a color">
                        <ui-select-match placeholder="Select/Add tags">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="tag in toDoCtrl.tagList | filter:$select.search">
                            {{tag}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-lg-12">
                <input type="reset" class="btn-primary active pull-right" value="Reset" />
                <span class="pull-right">OR</span>
                <input type="submit" class="btn-primary active pull-right" value="Save" />
            </div>
        </form>
    </div>
</div>