﻿<h2>TODO List:</h2>
<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="toDoCtrl.search"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4" style="background-color: yellow">
        <h3>Up-Coming:</h3>
        <div class="col-lg-12" style="border-style: solid" ng-repeat="item in toDoCtrl.toDos | filter:  {status: 'UpComing'} | filter:toDoCtrl.search">
            <h4><a href="#/Edit/{{item.id}}">{{item.title}}</a></h4>
            <div><h5>Summary: </h5><p>{{item.summary}}</p></div>
            <div><h5>Tags:</h5>{{ item.tags.join(" ") }}</div>
            <button ng-click="toDoCtrl.removeToDo(item)" type="button" class="btn btn-danger">Remove</button>
        </div>
    </div>
    <div class="col-lg-4" style="background-color: green">
        <h3>In-Progress:</h3>
        <div class="col-lg-12" style="border-style: solid" ng-repeat="item in toDoCtrl.toDos | filter:  {status: 'InProgress'} | filter:toDoCtrl.search">
            <h4><a href="#/Edit/{{item.id}}">{{item.title}}</a></h4>
            <div><h5>Summary: </h5><p>{{item.summary}}</p></div>
            <div><h5>Tags:</h5>{{ item.tags.join(" ") }}</div>
            <button ng-click="toDoCtrl.removeToDo(item)" type="button" class="btn btn-danger">Remove</button>
        </div>
    </div>
    <div class="col-lg-4" style="background-color: orange">
        <h3>Done:</h3>
        <div class="col-lg-12" style="border-style: solid" ng-repeat="item in toDoCtrl.toDos | filter:  {status: 'Done'} | filter:toDoCtrl.search">
            <h4><a href="#/Edit/{{item.id}}">{{item.title}}</a></h4>
            <div><h5>Summary: </h5><p>{{item.summary}}</p></div>
            <div><h5>Tags:</h5>{{ item.tags.join(" ") }}</div>
            <button ng-click="toDoCtrl.removeToDo(item)" type="button" class="btn btn-danger">Remove</button>
        </div>
    </div>
</div>
<br />
<div class="col-lg-12">
    <a href="#/Add" class="btn-primary btn">Add TODO</a>
</div>
