﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet', href='css/bootstrap.min.css'>
</head>
<body ng-app="app">
    <div class="container" ng-controller="AppController as appF1">
        <h1>Exec 02 - F1 Last Results</h1>
        <h2>Season: {{ appF1.F1result[0].season }}</h2>
        <h2>Round: {{ appF1.F1result[0].round }}</h2>
        <h2>Date: {{ appF1.F1result[0].date | date }}</h2>
        <h2>Race name: {{ appF1.F1result[0].raceName }} </h2>
        <h2>Circuit name: {{ appF1.F1result[0].Circuit.circuitName }} </h2>
        <h2>Country: {{ appF1.F1result[0].Circuit.Location.country }} </h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Position</td>
                    <td>Driver name</td>
                    <td>Company</td>
                    <td>Total Time</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="F1result in appF1.F1result[0].Results">
                    <td>{{ F1result.position | ordinal }}</td>
                    <td><a ng-href="{{ F1result.Driver.url }}" target="_blank">{{ F1result.Driver.givenName }} {{ F1result.Driver.familyName }}</a></td>
                    <td><a ng-href="{{ F1result.Constructor.url }}" target="_blank">{{ F1result.Constructor.name }}</a></td>
                    <td>{{ F1result.Time.time }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../Scripts/angular.js"></script>
    <script src="js/ordinal-browser.js"></script>
    <script src="js/app.js"></script>
</body>
</html>

<!--#1-->
<!--Started 9:03PM -->
<!--End 9:55PM -->

<!--#2-->
<!--5/11/2015-->
<!--Started 10:26AM -->
<!--End 11:18AM -->


