<div class="container" ng-controller="DetailController as detailContrl">
    <h1>Exec 05 - Superheroes v2 - Details</h1>
    <!-- Retrieve and show the following customer info: firstName, lastName, age and gender -->

    <div class="col-lg-12">
        <div class="col-lg-12">
            <div>First Name: <span>{{detailContrl.customer.firstName}}</span></div>
            <div>Last Name: <span>{{detailContrl.customer.lastName}}</span></div>
            <div>Age: <span>{{detailContrl.customer.age}}</span></div>
            <div>Gender: <span>{{detailContrl.customer.gender}}</span></div>
        </div>
    </div>
    <br />
    <div><a class="btn btn-primary" href="#/">List</a></div>

</div>