<div class="container" ng-controller="ListController as list">
    <h1>Exec 05 - Superheroes v2 - List</h1>
    <!-- Create a list to show the customer name and a hyperlink to details page -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td></td>
                <td>First Name:</td>
                <td>Last Name:</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in list.customers">
                <td><a ng-href="#/Detail/{{customer.id}}">Detail</a></td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
            </tr>
        </tbody>
    </table>
</div>