﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet', href='css/bootstrap.min.css'>
</head>
<body ng-app="app">
    <div class="container" ng-controller="AppController as app">
        <h1>Exec 01 - Binding Text changes to Label</h1>
        <input type="text" ng-model="app.textValue">
        <label>{{app.textValue}}</label>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>

<!--Started: 7:41PM -->
<!--End: 7:46PM-->