﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet', href='css/bootstrap.min.css'>
</head>
<body ng-app="app">
    <div class="container" ng-controller="AppController as app">
        <h1>Exec 02 - Superheroes</h1>
        <table>
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Age</td>
                    <td>Gender</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in app.customers | orderBy : 'age'">
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.age}}</td>
                    <td>{{customer.gender}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <script src="../Scripts/angular.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
<!--Started 7:47PM -->
<!--Encountered error in local IIS express blocking json file. debugged for 10mins.-->
<!--End 8:05PM -->

<!--Dinner break-->